<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/styles/style.css">

    <style>
        article{
            display: grid;

            background-color: var(--color-background-inputfield);
            border-radius: 10em;
    
            
        }
        h3{
            color: var(--color-tekst);
            text-transform: capitalize;
            order: -1;
        }
    </style>
</head>

<body>

    <article>
        <h3><%= plant naam %> </h3>
        <img src="" alt="">
        
    </article>
    
</body>
</html>



