<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<style>
    article{
        display: grid;

        
    }
</style>
<body>

    <article>
        <h1><%= x %> </h1>
        
    </article>
    
</body>
</html>



