<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        article{
            display: grid;
            grid-template-rows: 8em 2em;

            width: 100%;
            height: 10em;

            background: var(--color-background-inputfield);
            border-radius: .7em;
            border: .08em solid var(--color-lines);
            
        }


        article div{
            display: flex;
            width: 100%;
            height: 2em;

            justify-content: space-between;
            align-self: center;
            grid-row: 2 / 3;
        }


        /* article div img{
            
        } */

        
        h3{
            color: var(--color-tekst);
            text-transform: uppercase;
            font-size: .7em;

            margin-left: .5em;
            align-self: center;
        }

        article a{
            display: grid;
        }


        article a > img{
            width: 100%;
            grid-row: 1 / 2;
            height: 8em;
            order: -1;
            object-fit: cover;
            border-top-right-radius: .7em;
            border-top-left-radius: .7em;
        }

        #icon-favorites-cards{

            stroke-width: 1em;
            stroke: var(--color-lines);

            width: 1.2em;
            margin-right: .5em;
        }
       
        button {
            all: unset;
        }

    </style>
</head>

<body>

    <main>
        <article>
            <a href="/plant/<%=plant.id%>">
            <div>

                <h3><%= plant['Common name'] %> </h3>
                
                <button class="favorite-btn" onclick="addToFavorites(event, '<%= plant.id %>')">
                    <svg class="icons" id="icon-favorites-cards" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414.05 368.37">
                
                        <path class="cls-2" d="m302.8,0c-29.47,0-57.47,11.79-78.09,32.42l-17.68,17.68-16.21-16.21c-42.73-44.2-113.46-44.2-156.19-1.47l-1.47,1.47c-44.2,44.2-44.2,114.93,0,159.14l173.87,175.35,173.87-175.35c44.2-44.2,44.2-114.93,0-159.14C360.27,11.79,332.27,0,302.8,0Z"/>
                        <rect id="_Transparent_Rectangle_" data-name=" Transparent Rectangle " class="cls-1" x="191.02" y="168.19" width="1.2em"/>
                    </svg>
                </button>
            </div>

            <img src="<%= plant.Img %>" alt="Picture of a plant">

            </a> 
        </article>

    </main>

</body>
</html>


<script>

    async function addToFavorites(event, plantId) {
        event.preventDefault();
        event.stopPropagation(); // zorgt ervoor dat je niet naar detailpagina gaat
            try {
                const response = await fetch('/add-favorite', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json'},
                    body: JSON.stringify({plantId})
                });

                const result = await response.json();
            } catch (error) {
                console.error('Error:', error);
                alert('Something went wrong!');
            }
        }

</script>

