<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        article{
            display: grid;

            width: 100%;
            height: 10em;

            background: var(--color-background-inputfield);
            border-radius: .7em;
            border: .08em solid var(--color-lines);
            
        }


        article div{
            display: grid;
            grid-template-columns: 1fr 20%;

        }

        article div img{
            width: 1.2em;
            align-self: center;
        }


        h3{
            color: var(--color-tekst);
            text-transform: uppercase;
            font-size: .7em;
            margin-left: .2em;
            /* order: -1; */
        }
        article>img{
            width: 100%;
            height: 8em;
            order: -1;
            border-top-right-radius: .7em;
            border-top-left-radius: .7em;
        }
    </style>
</head>

<body>
<% plants.slice(0, 3).forEach(plant => { %>
    <article>
        <a href="/plant/<%=plant.id%>"> <!-- Link naar detailpagina -->
        <div>
            <h3><%= plant['Common name'] %> </h3>
            <img src="/img/favorieten.svg" alt="Icoon favorieten">
        </div>

        <img src="<%= plant.Img %>" alt="">

        </a> 
    </article>
<% }) %>
</body>
</html>


