<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        article{
            display: grid;
            grid-template-rows: 1fr 2em;

            width: 100%;
            height: 10em;

            background: var(--color-background-inputfield);
            border-radius: .7em;
            border: .08em solid var(--color-lines);
            
        }


        article div{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }


        /* article div img{
            
        } */

        
        h3{
            color: var(--color-tekst);
            text-transform: uppercase;
            font-size: .7em;

            margin-left: .5em;
            align-self: center;
        }


        article>img{
            width: 100%;
            height: 8em;
            order: -1;
            border-top-right-radius: .7em;
            border-top-left-radius: .7em;
        }

        /* .cls-1 {
            
        } */
              
        .cls-1, .cls-2 {
            stroke-width: 1em;
            stroke: var(--color-lines);
            fill: var(--color-icons-not-filled);

        }

        #icon{
            width: 1.2em;
            align-self: center;
            margin-right: .5em;
            overflow: visible;
        
        }

    </style>
</head>

<body>
<% plants.slice(0, 3).forEach(plant => { %> <!-- DIT IS DUS TEST, MOET WORDEN VERANDERD, EERSTE DRIE PLANTEN WORDEN LATEN ZIEN -->
    <article>
        <a href="/plant/<%=plant.id%>"> <!-- Link naar detailpagina -->
        <div>

            <h3><%= "Common name" %> </h3>

            <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414.05 368.37">
               
                <path class="cls-2" d="m302.8,0c-29.47,0-57.47,11.79-78.09,32.42l-17.68,17.68-16.21-16.21c-42.73-44.2-113.46-44.2-156.19-1.47l-1.47,1.47c-44.2,44.2-44.2,114.93,0,159.14l173.87,175.35,173.87-175.35c44.2-44.2,44.2-114.93,0-159.14C360.27,11.79,332.27,0,302.8,0Z"/>
                <rect id="_Transparent_Rectangle_" data-name=" Transparent Rectangle " class="cls-1" x="191.02" y="168.19" width="1.2em"/>
            </svg>
              
       

        </div>

        <img src="<%= plant.Img %>" alt="">

        </a> 
    </article>
<% }) %>
</body>
</html>


