<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        article{
            display: grid;

            width: 50%;

            background: var(--color-background-inputfield);
            border-radius: 5em;
            border: .08em solid var(--color-lines);
            
        }
        h3{
            color: var(--color-tekst);
            text-transform: uppercase;
            order: -1;
        }
        img{
            width: 50%;
            order: -1;
        }
    </style>
</head>

<body>

    <article>
        <h3><%= "Common name" %> </h3>
        <img src="" alt="">
        
    </article>
    
</body>
</html>


