<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/style.css">

    <style>
        .filter-button, .sort-btn{
            font-family: var(--font-Montserrat-light);
            border: .08em solid var(--color-lines);
            border-radius: .2em;
            background: var(--color-background-inputfield);
            height: 2.2em;

            transition: .3s ease-in-out;

        }       

        .sort-options, .filter-options {
            display: flex;
            flex-direction: column; 
            position: absolute;
            width: max-content;

            font-family: var(--font-Montserrat-light);
            border: none;
            border-radius: .7em;
            background: var(--color-background-inputfield);
            padding: .5em;
            position: relative;
        }


        .sort-options{
            left: 2.66em;
            height: auto;
        }


        .filter-options{
            left: 0;
            
        }
        #filter-options, #sort-options{
            height: max-content;
            width: 94.4%;
            border: .08em solid var(--color-lines);
            position: absolute;
            top: 2.66em;
            left: 0;

        }

        .filter-button.active, .sort-btn.active{
            background: var(--color-logo);
        }


        form{
            border: .08em solid var(--color-lines);
            border-radius: .2em;
            background: var(--color-background-inputfield);
            height: 1.66em;

        }

        input.search{
    
    
            border: none;
            background: none;
            height: 2em;
            width: calc(100% - .3em);

            align-self: center;
            font-family: var(--font-Montserrat-light);
            padding-left: .3em;
        }


    </style>
</head>

<body>
    <main>

        <div class="radio-container">

            <button id="filter-btn" class="filter-button">
                <svg class="icons"  viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="cls-1" d="M11 12L6 7V6L19 6L19 7L14 12V17L11 19V12Z" stroke="#121923" stroke-width="1.2" stroke-linecap="square"/>
                    </svg>
            </button>

            <div id="filter-options" class="filter-options hidden">
                <fieldset class="filter-options">
                    <legend>Category</legend>
                    <label><input type="checkbox" class="filter-category" value="sunlight"> Sunlight</label>
                    <label><input type="checkbox" class="filter-category" value="experience"> Experience</label>
                    <label><input type="checkbox" class="filter-category" value="Water"> Water</label>
                </fieldset>

            </div>

            <button id="sort-btn" class="sort-btn">
                <svg class="icons" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path class="cls-1" d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="cls-1" d="M4 12L14 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="cls-1" d="M4 17H6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </button>


            <div id="sort-options" class="sort-options hidden"> 
            <label for="sort-options"></label>
                <select>
                    <option value="name-asc">Name (A-Z)</option>
                    <option value="name-desc">Name(Z-A)</option>
                    <option value="date-asc">Date (Old → New)</option>
                    <option value="date-desc">Date (New → Old)</option>
                </select>
            </div>

           <form action="search" >
                <input type="text" class="search" id="search-input" placeholder="Search plant">

           </form>

 
            <label for="view-list" class="custom-radio-list">
                <input type="radio" name="view" value="list" id="view-list" checked>
            </label>
 
            <label for="view-grid" class="custom-radio-grid">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="radio" name="view" value="grid" id="view-grid">
            </label>
           
        </div>

    </main>

    

    <script src="/script.js" defer></script>
</body>
</html>