<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/style.css">


    <style>
        .footer header nav ul{
            background: var(--color-logo);

            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            padding: 1em;
            text-align: center;
        }

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        ul img{
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body class="footer">

    <header>
        <nav>
            <ul>
                <li><img src="/images/icon1.png" alt="Icoon inloggen"></li>
                <li><img src="/images/icon2.png" alt="Icoon zoeken"></li>
                <li><img src="/images/icon3.png" alt="Icoon favorieten"></li>
            </ul>   
        </nav>     
    </header>

</body>
</html>