<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        .footer header nav ul{
            /* background: var(--color-footer-background); werkt niet... */ 
            
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            padding: 1em;
            text-align: center;
        }

        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 4em;
        }

        ul img{
            width: 2.5em;
            height: auto;
        }
    </style>
</head>
<body class="footer">

    <header>
        <nav>
            <ul>
                <li><img src="/img/gebruiker.svg" alt="Icoon inloggen"></li> <!--Bron https://www.iconfinder.com/search?q=profile-->
                <li><img src="/img/zoeken.svg" alt="Icoon zoeken"></li> <!--Bron https://www.iconfinder.com/search?q=search-->
                <li><img src="/img/favorieten.svg" alt="Icoon favorieten"></li> <!--Bron https://www.iconfinder.com/search?q=favorite-->
            </ul>   
        </nav>     
    </header>

</body>
</html>