<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        
        <style>
            header{
                display: flex;
                justify-content: center;

                margin: 1em;
            }


            header img{
                width: 3em;
                height: auto;
            }
        </style>
    </head>

    <body>
        <header>
            <img src="/img/logo-groen.png" alt="Website Logo">
        </header>
    </body>
</html>

