<!DOCTYPE html>
<html lang="en ">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change password</title>
        <link rel="stylesheet" href="/style.css">

        <%- include('partials/header') %>    

    </head>

    <body class="forms-body">
        <section class="forms-container">
            <h1 class="forms-h1">Change password</h1>

            <div class="forms">
                <form id="change-password-form" action="/change-password" method="POST">
                    <div>
                        <label for="oldPassword">Old password</label>
                        <input type="password" name="oldPassword" required>
                        <p class="error" id="old-password-error">Incorrect old password</p>
                    </div>
                  
                    <div>
                        <label for="newPassword">New password</label>
                        <input type="password" name="newPassword" required>
                        <p class="error" id="new-password-error">New password cannot be the same as old password</p>
                    </div>
                   
                    <div>
                        <label for="confirmPassword">Confirm new password</label>
                        <input type="password" name="confirmPassword" required>
                        <p class="error" id="confirm-password-error">Passwords do not match</p>    
                    </div>
                 
                    <button class="btn-styling" type="submit">Change</button> 
                </form>
            </div>
        </section>
    
        <footer>
            <%- include('partials/footer') %> 
        </footer>

        <script>
            document.querySelector(".forms form").addEventListener("submit", async function(event) {
                event.preventDefault(); 

                let form = event.target; 
                let formData = new FormData(form); 
                let oldPasswordError = document.getElementById("old-password-error");
                let sameAsOldPasswordError = document.getElementById("new-password-error");
                let passwordNoMatch = document.getElementById("confirm-password-error");
                // let inputOldPassword = form.querySelector('input[name="oldPassword]');
                // let inputNewPassword = form.querySelector('input[name="newPassword]');
                // let inputConfirmPassword = form.querySelector('input[name="confirmPassword]');

                oldPasswordError.style.display = "none";
                sameAsOldPasswordError.style.display = "none";
                passwordNoMatch.style.display = "none";

                try {
                    let response = await fetch("/change-password", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            oldPassword: formData.get("oldPassword"),
                            newPassword: formData.get("newPassword"),
                            confirmPassword: formData.get("confirmPassword")})
                    })

                    let data = await response.json();

                    if(!data.success) {
                        if(data.error === "Incorrect old password.") {
                            oldPasswordError.style.display = "block";
                            // inputOldPassword.classList.add("error-input");
                        }
                        if(data.error === "New password cannot be the same as the old password." ) {
                            sameAsOldPasswordError.style.display = "block";
                            // inputNewPassword.classList.add("error-input");
                        }
                        if(data.error === "Passwords do not match." ) {
                            passwordNoMatch.style.display = "block";
                            // inputConfirmPassword.classList.add("error-input");
                        }
                    } else {
                        //hier animatie iets dat het is gelukt?
                            window.location.href = "/profile";
                    }
                    } catch (error){
                        console.error("Password change failed:", error);
                }
            })
        </script>
    </body>
</html>