<!DOCTYPE html>
<html lang="en ">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change password</title>
        <link rel="stylesheet" href="/style.css">

        <%- include('partials/header') %>    

        <style>
            body{
                display: flex;
                flex-direction: column;
            }


            .container{
                margin: 0.5em 1.5em;
            }


            .log-in{
                display: flex;
                flex-direction: column;

                margin-top: 1em;
            }

            
            label{
                margin-top: 10em;
                margin-bottom: 0.5em;
            }


            input{
                background: var(--color-background-inputfield);

                border: 0.09em solid var(--color-lines);
                border-radius: 0.8em;

                width: 90%;
                padding: 0.9em;
                margin-top: 0.5em;
            }


            button{
                background: var(--color-background-inputfield);

                border: 0.09em solid var(--color-lines);
                border-radius: 0.8em;

                width: 60%;
                padding: 0.3em;
                display: block;
                margin: 0 auto;
                margin-top: 2em;
            }
        </style>
    </head>

    <body>
        <section class="container">
            <h1 class="h1-small">Profile</h1>

            <div class="log-in">    
                <form action="/change-password" method="POST">
                    <label for="oldPassword">Old password:</label>
                    <input type="password" name="oldPassword" required>
                    
                    <label for="newPassword">New password:</label>
                    <input type="password" name="newPassword" required>
                    
                    <label for="confirmPassword">Confirm new password:</label>
                    <input type="password" name="confirmPassword" required>
                    
                    <button type="submit">Change password</button> <!--BACKEND: wachtwoord is nu anders-->
                </form>
            </div>
        </section>
    
        <footer>
            <%- include('partials/footer') %> 
        </footer>
    </body>
</html>