<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change password</title>
        <link rel="stylesheet" href="/style.css">

        <%- include('partials/header') %>
    </head>

    <body class="forms-body">
        <main>
            <section class="forms-container">
                <h1>Change password</h1>
    
                <div class="forms">
                    <form id="change-password-form" action="/change-password" method="POST">
                        <div>
                            <label for="oldPassword">Old password</label>
                            <input type="password" name="oldPassword" required>
                            <p class="error" id="old-password-error">Incorrect old password</p>
                        </div>
                      
                        <div>
                            <label for="newPassword">New password</label>
                            <input type="password" name="newPassword" required>
                            <p class="error" id="new-password-error">New password cannot be the same as old password</p>
                        </div>
                       
                        <div>
                            <label for="confirmPassword">Confirm new password</label>
                            <input type="password" name="confirmPassword" required>
                            <p class="error" id="confirm-password-error">Passwords do not match</p>    
                        </div>
                     
                        <button class="btn-styling" type="submit">Change</button> 
                    </form>
                </div>
            </section>
    
            <section class="succes-message" id="success-message">
                <h2>Password changed succesfully!</h2>
    
                <svg viewBox="0 0 18 15">
                    <defs>
                        <!--Source https://designmodo.com/animate-svg-gradients/#introduction-to-animating-svg-gradients-->
                        <!--Source https://codepen.io/NickNoordijk/pen/VLvxLE-->
                        
                        <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" stop-color="#718d69">
                                <animate attributeName="stop-color" values="#718d69; #2a4d14; #4a5d23; #718d69" keyTimes="0; 0.5; 0.8; 1" dur="7s" repeatCount="indefinite"/>
                            </stop>
                            <stop offset="100%" stop-color="#4a5d23">
                                <animate attributeName="stop-color" values="#4a5d23; #516131; #718d69; #4a5d23" dur="7s" repeatCount="indefinite"/>
                            </stop>
                        </linearGradient>
                    </defs>
    
                    <g fill="none" fill-rule="evenodd">
                        <g transform="translate(-423.000000, -47.000000)">
                            <g transform="translate(423.000000, 47.500000)">
                                <path d="M6,10.2 L1.8,6 L0.4,7.4 L6,13 L18,1 L16.6,-0.4 L6,10.2 Z" fill="url(#grad)"/>
                            </g>
                        </g>
                    </g>
                </svg>
                
                <p id="redirect-timer">You're being redirected in <span id="countdown">3</span> seconds...</p>
            </section>    
        </main>
       
        <footer>
            <%- include('partials/footer') %> 
        </footer>

        <script>
            document.querySelector(".forms form").addEventListener("submit", async function(event) {
                event.preventDefault(); 

                let form = event.target; 
                let formData = new FormData(form); 
                let oldPasswordError = document.getElementById("old-password-error");
                let sameAsOldPasswordError = document.getElementById("new-password-error");
                let passwordNoMatch = document.getElementById("confirm-password-error");
                let successMessage = document.getElementById("success-message");
                let countdownElement = document.getElementById("countdown");
                let formsContainer = document.querySelector(".forms-container");

                oldPasswordError.style.display = "none";
                sameAsOldPasswordError.style.display = "none";
                passwordNoMatch.style.display = "none";

                try {
                    let response = await fetch("/change-password", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            oldPassword: formData.get("oldPassword"),
                            newPassword: formData.get("newPassword"),
                            confirmPassword: formData.get("confirmPassword")})
                    })

                    let data = await response.json();

                    if(!data.success) {
                        if(data.error === "Incorrect old password.") {
                            oldPasswordError.style.display = "block";
                            form["oldPassword"].classList.add("error-input");
                        }
                        if(data.error === "New password cannot be the same as the old password." ) {
                            sameAsOldPasswordError.style.display = "block";
                            form["newPassword"].classList.add("error-input");

                        }
                        if(data.error === "Passwords do not match." ) {
                            passwordNoMatch.style.display = "block";
                            form["confirmPassword"].classList.add("error-input");
                        }
                    } else {
                        // Success message
                        // Source https://www.w3schools.com/howto/howto_js_countdown.asp
                        formsContainer.style.display = "none";
                        successMessage.style.display = "flex";

                        let secondsLeft = 3;
                        let countdownInterval = setInterval(() => {
                            secondsLeft--;
                            countdownElement.textContent = secondsLeft;

                            if (secondsLeft <= 0) {
                                clearInterval(countdownInterval);
                                window.location.href = "/profile";
                            }
                        }, 1000);
                    }
                    } catch (error){
                        console.error("Password change failed:", error);
                }
            })
        </script>
    </body>
</html>