<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="/style.css">

        <%- include('partials/header') %>    

        <style>
            .title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }


            /* User icon */
            main img{
                width: 3em;
                margin: 1em 0;
            }


            /* Options */
            .options{
                padding: 0.5em;
                margin: 0.7em;

                border: 0.08em solid var(--color-lines);
                border-radius: 0.7em;
            }


            .options section{
                margin-top: 1em;
            }

            /* Tasks */
            .tasks div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }


            figure{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }


            figure img{
                padding: 1em;
                margin: 0.1em;

                border: 0.08em solid var(--color-lines);
                border-radius: 0.7em;
            }


            figcaption{
                font-size: 0.75em;
                margin-top: 0.2em;
            }


            .tasks h2{
                border-bottom: 0.05em solid var(--color-lines);
                width: 3.5em;
                padding: 0.2em 0;
                margin-bottom: 0.5em;
            }


            .profile h2{
                border-bottom: 0.05em solid var(--color-lines);
                width: 10em;
                padding: 0.2em 0;
                margin-bottom: 0.5em;
            }
        </style>
    </head>

    <body>
        <main>
            <section class="title">
                <h1 class="h1-small">Profile</h1>

                <img src="/img/gebruiker.svg" alt="Icon user">
    
                <h2 class="h2-small">Welcome, <%= username %>!</h2>
            </section>

            <section class="options">
                <h2 class="h2-small">What do you want to do today?</h2>

                <section class="tasks">
                    <h2 class="h2-small">Tasks</h2>

                    <div> <!--Alle afbeeldingen even groot zodat de tekst eronder netjes past-->
                        <figure>
                            <a href="/favorites"> <!--BACKEND: favorites van gebruiker-->
                                <img src="/img/favorites.svg" alt="Favorites">
                                <figcaption>See favorites</figcaption>
                            </a>
                        </figure>

                        <figure>
                            <a href="/results">  <!--BACKEND: results van gebruiker-->
                                <img src="/img/sun.svg" alt="Results quiz"> <!--Veranderen naar juiste afbeelding-->
                                <figcaption>See results</figcaption>
                            </a>
                        </figure>

                        <figure>
                            <a href="/quiz">   <!--BACKEND: quiz opnieuw doen en eerdere gegevens dus niet meer opgeslagen?-->
                                <img src="/img/sun.svg" alt="Retake quiz"> <!--Veranderen naar juiste afbeelding-->
                                <figcaption>Retake quiz</figcaption>
                            </a>
                        </figure>
                    </div>
                </section>

                <section class="profile">
                    <h2 class="h2-small">Profile settings</h2>

                    <a href="/change-password">Change password</a>
        
                    <a href="/logout">Log out</a>
                </section>
            </section>
        </main>

        <footer>
            <%- include('partials/footer') %> 
        </footer>

        <script>

        </script>
    </body>
</html>
