<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details page</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>

     
    </style>
</head>

<body>
    <main>

        <h1><%= "Common name" %> </h1>

        <img src="<%= plant.Img %>" alt="">

        <!--Knop teruggaan-->
        <!--Link aan favorieten toevoegen-->

        <!--Tekstvak details-->

    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>


    <script>
       
    </script>
</body>
</html>