<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details page</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>

     
    </style>
</head>

<body>
    <main>
        <a href="/results"> <!--Nog linken aan gebruiker-->
            <img src="/img/arrow-left.svg" alt="Icon arrow left"></li> <!-- Bron https://www.iconfinder.com/search?q=arrow+left -->
        </a>

        <article>
            <section>
                <h1><%= plant['Common name'] %></h1>

                <img src="<%= plant.Img %>" alt="Picture of plant">
            </section>

            <p>Detailbeschrijving</p>
            <p>Andere elementen detailpagina</p>

            <a href="/favorieten"> <!--Nog linken aan gebruiker-->
                <img src="/img/favorieten.svg" alt="Icoon favorieten">
            </a>
        </article>
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>