<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details page</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>

     
    </style>
</head>

<body>
    <main>
        <h1><%= plant['Common name'] %></h1>

    
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>


    <script>
       
    </script>
</body>
</html>