<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>
        h1{
            margin-bottom: 1em;
            text-align: center;
        }

        main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .custom-radio-grid-fave {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column: 4 / 5;
            width: 1.66em;
            height: 1.36em;
            gap: .2em;
            padding: 0;
        }

        .custom-radio-list-fave {
            width: 1.66em;
            height: 1.66em;
            border-radius: .2em;
            padding: 0;
            grid-column: 5 / 6;
            background: var(--color-background-inputfield);
            border: .07em solid var(--color-lines);
        }

        .custom-radio-grid-fave span{
            height: .65em;

            border-radius: .1em;
            background: var(--color-background-inputfield);
            border: .07em solid var(--color-lines);
        }

        .custom-radio-grid-fave:has(input:checked){
            span{
                background: var(--color-logo);

            }
            
        }

        .custom-radio-list-fave:has(input:checked){
                background: var(--color-logo);
            
        }

        
        .radio-container-fave{
            display: grid;
            grid-template-columns: 1.66em 1.66em 1fr 1.66em 1.66em;
            grid-auto-flow: column;

            column-gap: 1em;
            margin: 0 1em 1em 1em;

            position: relative;
            width: 91vw;
            max-width: 59.1em;
        }

       #faves-not-yet{
            width: min(90%, 40em);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            margin-top: 5em;

       }


       .btn-styling{
        margin-top: 3em;
       }

       ul.list-view{
        width: min(80%, 25em);
       }
       /* p{
            align-self: center;
       } */


        /* input.search{
            display: none;
        } */
    </style>
</head>

<body>
    <main>

        <h1>Favorites</h1>

        <div class="radio-container-fave">
            <label for="view-grid" class="custom-radio-grid-fave">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="radio" name="view" value="grid" id="view-grid" checked>
            </label>


            <label for="view-list" class="custom-radio-list-fave">
                <input type="radio" name="view" value="list" id="view-list" >
            </label>
        </div>

        

        <% if (plants.length === 0) { %>
            <div id="faves-not-yet">
                <p>You don't have any favorites yet, browse to find your perfect plant</p>
                <a class="btn-styling" href="/results">Browse</a>

            </div>

        <% } else { %>
            <ul class="grid-view list" id="list-view-plants">

                <% plants.forEach(plant => { %>
                    <li>
                        <span class="plant-names">
                             <%- include('partials/cards', { plant: plant }) %>
                        </span>
                    </li>
                <% }) %> 
              
            </ul>
       <% } %>
    
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const favButton = document.querySelectorAll('.favorite-btn')
            
            favButton.forEach(button => {
                const plantId = button.dataset.plantId
                checkIfFavorite(plantId, button);
            })
        })

        async function checkIfFavorite(plantId, button) {
            try {
                const response = await fetch(`/is-favorite/${plantId}`);
                const result = await response.json();

                if(result.isFavorite) {
                    button.querySelector('.cls-2').classList.add('clicked')
                }
            } catch (error){
                        console.error('Error checking favorite status:', error);
            }
        }

        async function addToFavorites(event, plantId) {
      const button = event.target.closest('button.favorite-btn');
      const hartje = button ? button.querySelector('.cls-2') : null;

        event.preventDefault();
        event.stopPropagation(); // zorgt ervoor dat je niet naar detailpagina gaat
            try {
                const response = await fetch('/add-favorite', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json'},
                    body: JSON.stringify({plantId})
                });

                const result = await response.json();
                if (result.success) {
                        if(result.message === "Plant removed from your favorites!"){
                            hartje.classList.remove('clicked')
                        }
                        if(result.message === "Plant added to favorites!"){
                            hartje.classList.add('clicked')
                        }
                    } else {
                        // HIER ANIMATIE NIET INGELOGD
                    }
                    
                
            } catch (error) {
                console.error('Error:', error);
                alert('Something went wrong!');
            }
        }

    </script>

    <script src="/script.js" defer></script>  
</body>
</html>