<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>
        h1{
            margin-bottom: 1em;
            text-align: center;
        }

        .custom-radio-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column: 4 / 5;
            width: 1.66em;
            height: 1.36em;
            gap: .2em;
            padding: 0;
        }

        .custom-radio-list {
            width: 1.66em;
            height: 1.66em;
            border-radius: .2em;
            padding: 0;
            grid-column: 5 / 6;
            background: var(--color-background-inputfield);
            border: .07em solid var(--color-lines);
        }
    </style>
</head>

<body>
    <main>

        <h1>Favorites</h1>

        <div class="radio-container">
            <label for="view-grid" class="custom-radio-grid">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="radio" name="view" value="grid" id="view-grid" checked>
            </label>


            <label for="view-list" class="custom-radio-list">
                <input type="radio" name="view" value="list" id="view-list" >
            </label>
        </div>

        <!-- <%- include ('partials/container') %> -->

        <% if (plants.length === 0) { %>
            <!-- VUL IN MET VORMGEVING ALS ER GEEN FAVORIETEN ZIJN</p> -->
        <% } else { %>
            <ul class="list-view">

                <% plants.forEach(plant => { %>
                    <li>
                        <%- include('partials/cards', { plant: plant }) %>
                    </li>
                <% }) %> 
              
            </ul>
       <% } %>
    
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>

    <script src="/script.js" defer></script>  
</body>
</html>