<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }


        img{
            width: 40vw;
        }


        a{
            color: var(--color-tekst); 
            text-decoration: none;
            border-bottom: 0.05em solid var(--color-lines);
            width: 30em;
            padding: 0.2em 1.1em;
        }


        h1{
            margin-bottom: 3em;
            font-size: 1em;
        }


        img {
            margin-bottom: 2em;
        }

        
        p{
            margin-bottom: 3em;
        }


        .index {
            margin: 0 1em;
        }


        .index a{
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <main class="index">
        <h1>Welcome to the PlantMatch!</h1>

        <img src="/img/logo-groen.png" alt="Logo">

        <p>Are you ready to find your perfect match?</p>

        <a href="/quiz">Start</a>
    </main>
</body>
</html>

