<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantMatch</title>
    <link rel="stylesheet" href="/style.css">

    <!--Bewust geen header partial want dit is de homepagina-->

    <style>
        body{
            background: var(--color-background);
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }


        img{
            width: 40vw;
        }


        a{
            color: black; 
            text-decoration: none;
            border-bottom: 0.05em solid black;
            width: 30em;
            padding: 0.2em 1.1em;
        }


        h1, img, p{
            padding-bottom: 1em;
        }
    </style>
</head>

<body>

    <main>
        <h1>Welcome to the PlantMatch!</h1>

        <img src="/img/logo-groen.png" alt="Logo">

        <p>Are you ready to find your perfect match?</p>

        <a href="quiz.ejs">Start</a>
    </main>

<!--Bewust geen footer partial want dit is de homepagina-->

</body>
</html>

