<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantMatch</title>
    <link rel="stylesheet" href="/style.css">

    <!--Bewust geen header want dit is de homepagina-->

    <style>
        body{
            background: var(--color-background);
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        main img{
            width: 40vw;
        }
    </style>
</head>

<body>
    <header>
        <h1>Welcome to the PlantMatch</h1>
    </header>

    <main>
        <img src="/img/logo-groen.png" alt="Logo">

        <p>Dit is de homepagina van onze website. Met welke plant match jij?</p>
    </main>

<!--Bewust geen footer want dit is de homepagina-->

</body>
</html>

