<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }


        .index div{
            position: absolute;
            top: 1.5em;
            right: 1.5em;
            font-size: 0.75em;
        }


        h1{
            margin-bottom: 3em;
            font-size: 1em;
        }


        svg{
            width:min(40%, 10em);
            margin-bottom: 2em;
        }

        
        p{
            margin-bottom: 3em;
        }


        .index {
            margin: 0 1em;
        }
    </style>
</head>

<body>
    <main class="index">
        <div>
            <a class="btn-styling" href="/log-in">Log in</a>
        </div>

        <h1>Welcome to the PlantMatch!</h1>

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 702.000000 676.000000"
            preserveAspectRatio="xMidYMid meet">

            <defs>
                <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" stop-color="#718d69">
                        <animate attributeName="stop-color" values="#718d69; #2a4d14; #B6E38C; #718d69" keyTimes="0; 0.3; 0.7; 1" dur="7s" repeatCount="indefinite" />
                    </stop>
                    <stop offset="100%" stop-color="#4a5d23">
                        <animate attributeName="stop-color" values="#4a5d23; #516131; #A3C585; #4a5d23" dur="7s" repeatCount="indefinite" />
                    </stop>
                </linearGradient>
            </defs>
            
                <g transform="translate(0.000000,676.000000) scale(0.100000,-0.100000)">
                    <path fill="url(#grad)" d="M1080 6493 c0 -6 -22 -9 -57 -7 -32 2 -63 2 -69 0 -7 -3 -6 -29 2
                    -87 31 -203 5 -390 -106 -779 -129 -453 -154 -585 -155 -800 0 -142 3 -177 23
                    -250 46 -167 116 -270 261 -383 64 -50 197 -105 226 -93 9 3 25 27 36 53 11
                    27 27 62 35 78 59 115 146 405 188 620 37 190 47 530 20 737 -17 138 -58 307
                    -98 413 -31 82 -15 72 39 -24 100 -179 186 -477 214 -741 14 -132 6 -513 -13
                    -630 -29 -177 -55 -295 -85 -389 -17 -52 -28 -97 -26 -100 14 -13 153 49 283
                    126 62 37 209 186 264 268 138 209 200 415 199 670 0 149 -12 235 -57 390 -26
                    90 -128 317 -155 345 -8 8 -32 42 -53 75 -50 76 -267 293 -371 370 -163 122
                    -176 129 -235 132 -71 4 -69 4 -112 1 -21 -2 -38 0 -38 4 0 7 -34 3 -49 -6 -5
                    -4 -11 -2 -13 3 -2 6 -17 7 -40 2 -24 -6 -40 -5 -47 2 -8 8 -11 8 -11 0z"/>
                    <path fill="url(#grad)" d="M3170 5622 c0 -4 -144 -6 -320 -6 -176 1 -320 1 -320 0 0 0 9 -30 21
                    -66 36 -115 49 -199 49 -317 0 -115 0 -115 23 -109 64 18 265 56 356 66 150
                    18 427 8 566 -19 108 -21 245 -62 275 -81 20 -13 15 -13 -92 7 -124 22 -386
                    22 -527 -1 -58 -9 -117 -16 -132 -16 -41 0 -257 -65 -384 -116 l-113 -45 -22
                    -62 c-41 -113 -138 -301 -214 -415 l-75 -112 39 -20 c21 -11 72 -31 114 -45
                    64 -21 92 -25 198 -25 128 0 165 8 308 62 76 30 75 29 425 191 382 177 401
                    186 485 217 140 52 220 65 390 64 130 0 165 -4 220 -22 35 -12 65 -20 67 -19
                    7 8 -96 191 -151 267 -184 254 -412 464 -611 564 l-110 55 -110 0 c-60 0 -152
                    0 -204 1 -51 1 -95 -1 -98 -4 -3 -3 -16 -1 -29 4 -13 5 -24 6 -24 2z"/>
                    <path fill="url(#grad)" d="M839 3573 c-1 -5 -1 -11 0 -15 0 -4 -5 -5 -12 -2 -14 5 -50 -41 -208
                    -271 -185 -268 -273 -412 -377 -621 -107 -213 -147 -316 -192 -496 -69 -271
                    -62 -499 24 -848 123 -499 425 -870 883 -1086 150 -71 415 -158 598 -196 132
                    -27 170 -31 315 -31 134 0 185 4 270 22 201 43 355 106 518 214 216 143 356
                    297 479 527 91 172 120 330 101 559 -11 130 -4 171 28 171 16 0 140 -122 191
                    -187 29 -37 191 -179 273 -239 249 -181 457 -227 653 -144 173 73 419 253 637
                    465 113 110 135 125 176 125 96 0 153 -161 141 -395 -8 -141 -26 -213 -83
                    -331 -45 -92 -46 -98 -42 -165 13 -177 156 -302 395 -344 152 -28 409 -16 561
                    25 135 37 504 182 687 270 114 55 177 101 161 117 -4 5 -110 11 -234 14 -251
                    7 -298 16 -419 74 -118 58 -173 116 -242 258 -129 267 -171 483 -137 713 27
                    185 116 413 229 583 98 150 110 197 78 302 -17 54 -33 80 -85 136 -71 76 -133
                    115 -221 138 -108 28 -223 14 -408 -50 -175 -60 -254 -121 -316 -246 -22 -43
                    -42 -100 -46 -126 -30 -244 -85 -366 -258 -581 -130 -160 -353 -310 -544 -364
                    -97 -28 -233 -30 -312 -5 -104 32 -265 135 -346 221 -260 274 -342 415 -365
                    630 -11 106 -40 171 -110 244 -99 104 -222 162 -344 162 -90 0 -297 -36 -408
                    -71 -151 -47 -238 -112 -267 -200 -14 -43 -5 -73 52 -173 76 -135 147 -315
                    184 -471 26 -105 23 -245 -7 -319 -79 -202 -229 -345 -455 -434 -133 -53 -228
                    -73 -345 -74 -259 -3 -487 114 -671 344 -185 229 -256 391 -306 693 -25 155
                    -25 479 0 625 37 212 151 613 228 807 11 27 11 35 0 45 -10 9 -12 10 -7 1 5
                    -9 -2 -12 -24 -10 -16 1 -30 7 -30 12 0 6 -5 2 -11 -8 -6 -9 -15 -15 -20 -12
                    -5 4 -7 11 -4 16 4 5 4 9 1 9 -3 0 -7 -3 -7 -7z"/>
                </g>
            </svg>

        <p>Are you ready to find your perfect match?</p>

        <a class="btn-styling" href="/quiz">Start</a>
    </main>
</body>
</html>


