<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz</title>
        <link rel="stylesheet" href="/style.css">

        <%- include('partials/header') %>

        <style>
            main{
                display: flex;
                flex-direction: column;
                text-align: center;
            }


            button{
                background: var(--color-background-inputfield);

                border: 0.09em solid var(--color-lines);
                border-radius: 0.8em;

                width: 40%;
                padding: 0.3em 0.9em;
            }


            /* Skip link */
            /* .skip{
                display: none;
            }


            .skip a{
                position: absolute; 
                right: 1em;
                top: 5.6em;
            } */


            /* Begin */
            .begin button{
                margin-top: 2em;
                color: var(--color-tekst);
            }


            .begin img{
                width: 85vw;
            }
            

            .begin{
                height: 65vh; 

                display: flex;
                flex-direction: column; 
                align-items: center;
                justify-content: center;
                text-align: center; 
            }


            /* Progress bar */
            progress{
                display: none;
                /* position: fixed; */

                margin-top: 3em;

                width: 75%;
                /* top: 9em;
                left: 50%; */
                /* transform: translateX(-50%);  */
                height: 0.9em;
            }
            

            progress[value] {
                background-color: var(--color-background-inputfield);
                border-radius: 1em;
                height: 0.9em; 
            }



            progress[value]::-webkit-progress-bar {
                background-color: var(--color-background-inputfield);
                border-radius: 1em;
                border: .07em solid var(--color-lines);
            }


            progress[value]::-webkit-progress-value {
                background: var(--color-footer-background); 
                border-radius: 1em;

                transition: width 0.5s ease-in-out;
            }


            /* Questions */
            /* Big container */
            .questions{
                display: none;

                flex-direction: column;
                align-items: center;
                text-align: center;
            }


            /* Individual sections */
            .question{
                display: none;

                width: 80%;
                max-width: 600px;
                margin-top: 2em;
                margin-bottom: 1em;

                padding: 0.5em;

                border: 0.08em solid var(--color-lines);
                border-radius: 0.7em;
            }


            .question.active{
                display: block;
            }


            h2{
                margin: 1em;

                border-top: 0.05em solid var(--color-lines);
                border-bottom: 0.05em solid var(--color-lines);
                width: 14em;
                padding: 0.5em 0;
            }
     

            /* Input fields */
            .question div{
                display: flex;
                flex-direction: row;
                justify-content: center;

                margin: 2em 0;
            }


            div label{
                display: inline-block;
                text-align: center;

                border: 0.09em solid var(--color-lines);
                border-radius: 0.2em;

                margin-left: 0.5em;
                padding: 1.5em 1.5em;
                transition: all 0.3s ease-in-out;
            }
            
            
            /* Question 1 */
            div input[type="radio"]{
                display: none;
            }


            input[type="radio"]:checked + label,
            input[type="checkbox"]:checked + label {
                background: var(--color-footer-background);
                border-color: var(--color-footer-background);
                color: white; 
            }


            /* Question 2 */
            #question-2 div{
                display: flex;
                flex-wrap: wrap;
                gap: 0.5em;
            }


            #question-2 div label{
                font-size: 0.9em;
                display: block;
                flex: 1 1 20%;
            }


            /* Question 3 */
            #question-3 div input{
                padding: 0.5em 2em;
            }


            /* Question 4*/
            #question-4 div{
                display: flex;
                flex-wrap: wrap;
                gap: 0.5em;
            }


            #question-4 div label{
                font-size: 0.9em;
                display: block;
                flex: 1 1 40%;
            }


            /* Question 5 */
            input[type="checkbox"] {
                display: none;
            }


            label{
                display: inline-block;
                cursor: pointer;
                border: 2px solid var(--color-lines);
                border-radius: 0.2em;
                padding: 0.5em 1em;
                margin: 0.5em;
                transition: all 0.3s ease-in-out;
            }


            input[type="checkbox"]:checked + label {
                background: var(--color-footer-background);
                border-color: var(--color-footer-background);
                color: white; 
            }


            /* Navigation buttons */
            .nav-buttons{
                display: none;
                width: 70%;
            }


            .nav-buttons button{
                margin-left: 0.3em;
            }


            /* Error: choose anwser before next question */
            /* .warning{
                display: none;
                color: red;
            } */
        </style>
    </head>

    <body>
        <main>
            <h1 class="h1-small">Quiz</h1>

            <!-- <div class="skip">
                <a href="/results">Skip</a>
            </div> -->

            <div class="begin">
                <img src="/img/quiz-image.png" alt="Woman with plant"> <!--Source https://www.freepik.com/vectors/planting-happiness-->
                
                <p>Got 30 seconds? Get matched to your perfect plant!</p>
             
                <button>Begin</button>
            </div>

            <div class="questions">
                <progress max="100" value="0"></progress> <!--Source https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress + https://verpex.com/blog/website-tips/how-to-style-a-progress-bar-using-css + https://www.w3schools.com/howto/howto_js_progressbar.asp -->

                <section id="question-1" class="question">
                    <h2>Are you currently a plant parent?</h2>

                    <div>
                        <input type="radio" id="yes" name="plants" value="yes" onclick="saveAnswer(1, this.value)">
                        <label for="yes">Yes</label>
                    
                        <input type="radio" id="no" name="plants" value="no" onclick="saveAnswer(1, this.value)">
                        <label for="no">No</label>
                    </div>

                    <!-- <p class="warning">Please choose an anwser</p> -->
                </section>

                <section id="question-2" class="question">
                    <h2>How green are your fingers?</h2>

                    <div>
                        <input type="radio" id="beginner" name="level" value="beginner" onclick="saveAnswer(2, this.value)">
                        <label for="beginner">Beginner</label>
                        
                        <input type="radio" id="intermediate" name="level" value="intermediate" onclick="saveAnswer(2, this.value)">
                        <label for="intermediate">Intermediate</label>
                        
                        <input type="radio" id="expert" name="level" value="expert" onclick="saveAnswer(2, this.value)">
                        <label for="expert">Expert</label>
                    </div>                    

                    <!-- <p class="warning">Please choose an anwser</p> -->
                </section>
            
                <section id="question-3" class="question">
                    <h2>How much love would you like to invest per week?</h2>
                 
                    <div>
                        <input type="radio" id="half-hour" name="time" value="0.5" onclick="saveAnswer(3, this.value)">
                        <label for="half-hour">0.5h</label>
                    
                        <input type="radio" id="one-hour" name="time" value="1" onclick="saveAnswer(3, this.value)">
                        <label for="one-hour">1h</label>
                    
                        <input type="radio" id="two-hours" name="time" value="2" onclick="saveAnswer(3, this.value)">
                        <label for="two-hours">2h</label>
                    </div>
                    
                    <!-- <p class="warning">Please choose an anwser</p> -->
                </section>
            
                <section id="question-4" class="question">
                    <h2>How much light do you have in your room?</h2>

                    <div>
                        <input type="radio" id="low" name="sunlight" value="low" onclick="saveAnswer(4, this.value)">
                        <label for="low">No sun</label>
                    
                        <input type="radio" id="medium" name="sunlight" value="medium" onclick="saveAnswer(4, this.value)">
                        <label for="medium">A couple of hours sun</label>
                    
                        <input type="radio" id="high" name="sunlight" value="high" onclick="saveAnswer(4, this.value)">
                        <label for="high">A lot of sun</label>
                    </div>
                    

                    <!-- <p class="warning">Please choose an anwser</p> -->
                </section>
    
                <section id="question-5" class="question">                
                    <h2>How big do you want your plant to be?</h2>
                
                    <div>
                        <input type="checkbox" id="small" name="plants" value="small" onclick="saveAnswer(5, this.value)">
                        <label for="small">S</label>
                    
                        <input type="checkbox" id="medium-size" name="plants" value="medium-size" onclick="saveAnswer(5, this.value)">
                        <label for="medium-size">M</label> 
                    
                        <input type="checkbox" id="large" name="plants" value="large" onclick="saveAnswer(5, this.value)">
                        <label for="large">L</label>
                    </div>                    

                    <!-- <p class="warning">Please choose an anwser</p> -->
                </section>
                
                <div class="nav-buttons">
                    <button onclick="prevQuestion()">Previous</button>
                    <button onclick="nextQuestion()">Next</button>
                </div>
            </div>
        </main>
       
        <footer>
            <%- include('partials/footer') %>
        </footer>

        <script>
            const begin = document.querySelector('.begin');
            const beginButton = document.querySelector('.begin button');
            const navButtons = document.querySelector('.nav-buttons');
            const questionSelection = document.querySelector('.questions');
            const progressBar = document.querySelector('progress'); 
            const questions = document.querySelectorAll(".question");
            const prevButton = document.querySelector(".nav-buttons button:first-child");
            const nextButton = document.querySelector(".nav-buttons button:last-child");
            // const quizSkip = document.querySelector('.skip'); 

            // Start quiz
            // Source: help from chatGPT
            let currentQuestionIndex = 0;
            let answers = {};

            beginButton.addEventListener('click', function () {
                begin.style.display = 'none';
                navButtons.style.display = 'block';
                questionSelection.style.display = 'flex';
                progressBar.style.display = 'block';
                // quizSkip.style.display = 'block';
                
                showQuestion(currentQuestionIndex);
            });

            // Progress bar
            function updateProgress() {
                let progressValue = ((currentQuestionIndex + 1) / questions.length) * 100;
                progressBar.value = progressValue;
            }

            function saveAnswer(questionNumber, value) {
                answers[questionNumber] = value;  
                console.log(`Vraag ${questionNumber}: ${value}`);
            }

            function showQuestion(index) {
                questions.forEach((question) => question.classList.remove("active"));
                questions[index].classList.add("active");

                updateProgress();

                // First 'previous' button
                // Last 'next button'
                prevButton.style.display = index === 0 ? "none" : "inline-block";
                nextButton.textContent = index === questions.length - 1 ? "Finish" : "Next"; 

                if (index === questions.length - 1) {
                    nextButton.addEventListener("click", function() {
                        window.location.href = "/results"; // BACKEND: refereren naar gebruikersID
                    });
                }
            }

            // Next question buttons
            function nextQuestion(){
                const currentQuestion = questions[currentQuestionIndex];
                const inputs = currentQuestion.querySelectorAll("input, select");

                let answered = Array.from(inputs).some(input => {
                    if (input.type === "radio" || input.type === "checkbox") return input.checked; 
                    return input.value.trim() !== "";
                });

                if (answered) {
                    currentQuestionIndex++;
                    if (currentQuestionIndex < questions.length) {
                        showQuestion(currentQuestionIndex);
                    } else {
                        window.location.href = "/results"; // BACKEND: refereren naar gebruikersID
                    }
                }

            //     // // Warning if no option is chosen
            //     // if (answered) {
            //     //     warningText.style.display = "none"; 
            //     //     currentQuestionIndex++;
            //     //     if (currentQuestionIndex < questions.length) {
            //     //         showQuestion(currentQuestionIndex);
            //     //     }
            //     // } else {
            //     //     warningText.style.display = "block";
            //     // }
            // }
            }

            


            function prevQuestion() {
                if (currentQuestionIndex > 0) {
                    currentQuestionIndex--;
                    showQuestion(currentQuestionIndex);
                }
            }

            prevButton.addEventListener("click", prevQuestion);
            nextButton.addEventListener("click", nextQuestion);

            showQuestion(currentQuestionIndex);
        </script>
    </body>
</html>