<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>    

    <style>
        body {
            display: flex;
            flex-direction: column;
        }


        .container{
            margin: 0.5em 1.5em;
        }


        h2{
            border-bottom: 0.05em solid var(--color-lines);

            width: 11.3em;
            padding-bottom: 0.2em;
        }

        label{
            margin-bottom: 0.5em;
        }


        input{
            background: var(--color-background-inputfield);

            border: 0.09em solid var(--color-lines);
            border-radius: 0.8em;

            width: 90%;
            padding: 0.9em;
            margin-top: 0.3em;
        }

        form div{
            margin-top: 1.5em;
        }


        button {
            background: var(--color-background-inputfield);

            border: 0.09em solid var(--color-lines);
            border-radius: 0.8em;

            width: 40%;
            padding: 0.3em 0.9em;
            display: block;
            margin: 0 auto;
            margin-top: 2em;
        }
    </style>
    </head>

    <body>
        <div class="container">
            <div class="register">
                <h2>Register</h2>
    
                <form action="/register" method="POST">
                    <div>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>    
                    </div>
         
                    <div>
                        <label for="password"> Password</label>
                        <input type="password" name="password" required>
                    </div>

                    <div>
                        <label for="conform-password"> Repeat password</label>
                        <input type="password" id="conform-password" name="confirmPassword" required>
                    </div>
     
                    <button type="submit">Submit</button> <!--BACKEND, registreren-->
                </form>
            </div>
        </div>
    
    <footer>
        <%- include('partials/footer') %> 
    </footer>

    </body>
</html>