<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('partials/header') %>   
    
    <style>
        .filter-button{
            height: 2em;
        }
        .sort-btn{
            height: 2em;
        }
    </style>

</head>

<body>
    <main>

        <h1 class="h1-small">Results</h1>

        <div class="radio-container">

            <button id="filter-btn" class="filter-button">
                <svg class="icons"  viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="cls-1" d="M11 12L6 7V6L19 6L19 7L14 12V17L11 19V12Z" stroke="#121923" stroke-width="1.2" stroke-linecap="square"/>
                    </svg>
            </button>

            <div id="filter-options" class="filter-options hidden">
                <fieldset class="filter-options">
                    <legend>Category</legend>
                    <label><input type="checkbox" class="filter-category" value="sunlight"> Sunlight</label>
                    <label><input type="checkbox" class="filter-category" value="experience"> Experience</label>
                    <label><input type="checkbox" class="filter-category" value="Water"> Water</label>
                </fieldset>

            </div>

            <button id="sort-btn" class="sort-btn">
                <svg class="icons" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path class="cls-1" d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="cls-1" d="M4 12L14 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="cls-1" d="M4 17H6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </button>


            <div id="sort-options" class="sort-options hidden"> 
            <label for="sort-options"></label>
                <select>
                    <option value="name-asc">Name (A-Z)</option>
                    <option value="name-desc">Name(Z-A)</option>
                    <option value="date-asc">Date (Old → New)</option>
                    <option value="date-desc">Date (New → Old)</option>
                </select>
            </div>

 
            <label for="view-list" class="custom-radio-list">
                <input type="radio" name="view" value="list" id="view-list" checked>
            </label>
 
            <label for="view-grid" class="custom-radio-grid">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="radio" name="view" value="grid" id="view-grid">
            </label>
           
        </div>


        <ul class="list-view">
             <% plants.forEach(plant => { %>
                <li>
                    <%- include('partials/cards', { plant: plant }) %>
                </li>
            <% }) %> 
            
        </ul>
      
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>



    <script src="/script.js" defer></script>
</body>
</html>