<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantMatch</title>
    <link rel="stylesheet" href="/style.css">

    <style>
        body{
            background: var(--color-background);
        }
    </style>
</head>

<body>

    

    <header>
        <%- include('partials/header') %>    
    </header>
    <main>
        <%- include('partials/cards-klein') %>
        
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>