* {
    margin: 0;
    padding: 0;
}

:root{
    --color-background: linear-gradient(#fdf9eb, #f4ecde);
    --color-footer-background: linear-gradient(#718d69, #4a5d23);
    --color-tekst: #3d2b1f;
    --color-lines: #4a5d23;
    --color-icons-footer: linear-gradient(#fefff1, #fdf9eb);
    --color-background-inputfield: linear-gradient(#fdf9eb, #fefff1);
    --color-logo: linear-gradient(#718d69, #4a5d23);
    --color-grid-icon: #dac8ae;
}
