* {
    margin: 0;
    padding: 0;
}

:root{
    --color-background: linear-gradient(#fdf9eb, #f4ecde);
    --color-footer-background: linear-gradient(#718d69, #4a5d23);
    --color-tekst: #3d2b1f;
    --color-lines: #4a5d23;
    --color-icons-footer: linear-gradient(#fefff1, #fdf9eb);
    --color-background-inputfield: linear-gradient(#fdf9eb, #fefff1);
    --color-logo: linear-gradient(#718d69, #4a5d23);
    --color-list-icon: #dac8ae;
    --color-icons-not-filled: #fdf9eb;
    --color-icons-filled:#4a5d23;

    --font-Montserrat-light: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --white-space: clamp(1em, 5vw, 1.5em)
}



@font-face{
    font-family: 'Montserrat';
    src: url('./fonts/static/Montserrat-Light.ttf');
}

h1, h2, h3, h4, p, a{
    font-family: var(--font-Montserrat-light);
    color: var(--color-tekst);
}


h1, h2, h3{
    text-transform: uppercase;
}
